#main-title{
    position:relative;
    font-family: "century gothic";
    font-size: 100px;
    font-weight: 800;
    text-align: center;
    color:#A93226 ;
    padding-left: 2%;
    margin-bottom: 0;
    letter-spacing: 2rem;

}

#slogan{
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 14px;
  color:#A93226 ;
  letter-spacing: .4rem;
  margin-bottom:2%;
}


#smalltotell{
    font-family: "century gothic";
    font-weight: 600;
    color:#A93226  ;
    padding-left:0px;
}

.generalbut{

  margin-left: 1px
}
#loginbut{
    margin: 1px;
    width:20%;
}

#loginbutHome{
    margin: 1px;
    width:20%;

}
#signupbutHome{
    margin: 1px;
    width:20%;
}

#logoutbut{
    margin-left: 1px;
    margin-top:0px;
    align-items:flex-end;
}
#logoutform{
  position: relative;
  top: 0px;
  right: 0px;
}

#signupbut{
    margin: 1px;
    width:20%;
}

#homebtns{
  display:block;
  text-align: -webkit-center;
}





#pageheader{
    padding:1%;
}
#loginform{
    align-content: center;
}

#wlcm{
    font-weight: 300;
    margin-top: 0%;
    margin-right:0%;
    vertical-align:middle;
}

#exploreMenuButt{

    vertical-align:middle;
}

.category-title{
    margin-bottom: 5px;
    color:white;
    background-color: #27AE60;
    padding:5px;
}

.filterbut{
    margin: 2px;

}
#unfollowbut{
    background-color: #27AE60;
    border-color: #27AE60;
    vertical-align:middle;
    color:#fff;
}


.resthead{
    font-size: 24px;
    font-family: arial,sans-serif;
    line-height: 1.33;
    font-weight: 300;
}
.restsubhead{
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33;

}

#showMenubut{
    width:100%;
}
#rsltunit{

    margin-top: 10px;
    margin-bottom: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #E5E7E9  ;
    border-radius: 5px;
    padding:2%;
}

#restBrief{
    padding: 2%;
}
#followbutton{
    position: absolute;
    top: 10%;
    right: 16px;
    font-size: 18px;
}
.restinfo{
    font-size: 16px;
    font-weight: 300

}
#srchbut{

    margin-left: 1px
}

#totell{
    font-family: "century gothic";
    font-size: 42px;
    font-weight: 800;
    text-align: left;
    color:red;
    padding-bottom: 2%;
    padding-left: 2%;
}

#resturantName{
    text-transform:uppercase;
    font-family: "century gothic"
}

#resLocation{
    font-family: "century gothic";
    font-weight: 200;
}
#MenuItem{
    border-style: outset;
    border-width:1px;
    border-radius: 15px;
    display:flex;
    padding:20px;
}

#itemImage{
    padding-right: 40px;
}

#itmeName{
    padding:40px;

}

#itemIngredients{
    padding-left: 40px;
    padding-right: 40px;
}

#itemPrice{
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 100%;
}

#itemLanguage{
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 100%;
}

#itemReview{
    position: absolute;
    top: 8px;
    right: 16px;
    background-color: white;
    border-color: white;
    margin-left: 100%;

}
