#main-title{
    font-family: "century gothic";
    font-size: 100px;
    font-weight: 800;
    text-align: center;
    color:#A93226  ;
    padding-bottom: 2%;
    padding-left: 2%;
}

#smalltotell{
    font-family: "century gothic";
    font-weight: 600;
    color:#A93226  ;
    padding-left:0px;
}
#loginbut{
    background-color: #A93226;
    border-color: #A93226;
    margin-left: 1px
}
#logoutbut{
    background-color: #A93226;
    border-color: #A93226;
    margin-left: 1px;
    margin-top:0px;
    align-items:flex-end;
}
#logoutform{
  position: relative;
  top: 0px;
  right: 0px;
}
#signupbut{
    background-color: #A93226;
    border-color: #A93226;
    margin-left: 1px
}

#myprofile{
    background-color: #A93226;
    border-color: #A93226;

}

#pageheader{
    padding:1%;
}
#loginform{
    align-content: center;
}

#wlcm{
    font-weight: 300;
    margin-top: 0%;
    margin-right:0%;
    vertical-align:middle;
}

#exploreMenuButt{
    background-color: #A93226;
    border-color: #A93226;
    vertical-align:middle;
}

#followbut{
    background-color: #A93226;
    border-color: #A93226;
    vertical-align:middle;
}

.resthead{
    font-size: 24px;
    font-family: arial,sans-serif;
    line-height: 1.33;
    font-weight: 300;
}
.restsubhead{
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33;

}

#rsltunit{

    margin-top: 10px;
    margin-bottom: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #E5E7E9  ;
    border-radius: 5px;
    padding:2%;
}

.restinfo{
    font-size: 16px;
    font-weight: 300

}
#srchbut{
    background-color: #A93226;
    border-color: #A93226;
    margin-left: 1px
}

#totell{
    font-family: "century gothic";
    font-size: 42px;
    font-weight: 800;
    text-align: left;
    color:red;
    padding-bottom: 2%;
    padding-left: 2%;
}

#resturantName{
    text-transform:uppercase;
    color:darkgray;
    font-family: "century gothic"
}

#resLocation{
    font-family: "century gothic";
    font-weight: 200;
}
#MenuItem{
    border-style: outset;
    border-width:2px;;
    display:flex;
    align-content:space-between;
    margin:1%;
}

#itemImage{
    padding-right: 40px;
}

#itmeName{
    padding:40px;

}

#itemIngredients{
    padding-left: 40px;
    padding-right: 40px;
}

#itemPrice{
    padding-left: 40px;
    padding-right: 40px;

}

#itemLanguage{
    padding-left: 40px;
    padding-right: 40px;
}

#itemReview{
    padding-left: 40px;
    padding-right: 40px;
    align-content:flex-end;

}
